# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

stochastic/random_streetview_images_grouped_v1/dataset_dict.json
stochastic/random_streetview_images_grouped_v1/train/data-00000-of-00006.arrow
stochastic/random_streetview_images_grouped_v1/train/data-00001-of-00006.arrow
stochastic/random_streetview_images_grouped_v1/train/data-00002-of-00006.arrow
stochastic/random_streetview_images_grouped_v1/train/data-00003-of-00006.arrow
stochastic/random_streetview_images_grouped_v1/train/data-00005-of-00006.arrow
stochastic/random_streetview_images_grouped_v1/train/dataset_info.json
stochastic/random_streetview_images_grouped_v1/train/state.json
stochastic/random_streetview_images_grouped_v1/train/data-00004-of-00006.arrow
*.arrow
*.json
__pycache__/
*.pyc

dataset.py
dataset_ref.py

node_modules/

output/*clipboard*
pics/*clipboard*

venv/
build/
dist/

run.spec
