torch_trainer.py
stochastic/random_streetview_images_grouped_v1/dataset_dict.json
stochastic/random_streetview_images_grouped_v1/train/data-00000-of-00006.arrow
stochastic/random_streetview_images_grouped_v1/train/data-00001-of-00006.arrow
stochastic/random_streetview_images_grouped_v1/train/data-00002-of-00006.arrow
stochastic/random_streetview_images_grouped_v1/train/data-00003-of-00006.arrow
stochastic/random_streetview_images_grouped_v1/train/data-00005-of-00006.arrow
stochastic/random_streetview_images_grouped_v1/train/dataset_info.json
stochastic/random_streetview_images_grouped_v1/train/state.json
stochastic/random_streetview_images_grouped_v1/train/data-00004-of-00006.arrow
*.arrow
*.json
__pycache__/
*.pyc

dataset.py
dataset_ref.py

node_modules/